{% extends 'donorhome.html' %}
{% block 'body' %}
<br><br>
<table class="table table-success table-hover table-striped">
    <thead>
    <tr>
        <td class="text-success fs-4"><b>Organisation</b></td>
        <td class="text-success fs-4"><b>Name</b></td>
        <td class="text-success fs-4"><b>Email</b></td>
        <td class="text-success fs-4"><b>Address</b></td>
        <td class="text-success fs-4"><b>Amount</b></td>
    </tr>
    </thead>
    <tbody>
    {% for dorg in dorg %}
    <tr>
         <td>
             <img src="{{dorg.organisation.orgaimage.url}}" alt="not image" width="400" height="200">
         </td>
        <td class="fs-5">{{dorg.organisation.name}}</td>
        <td class="fs-5">{{dorg.organisation.email}}</td>
        <td class="fs-5">{{dorg.organisation.address}}</td>
         <td class="fs-5">
             {{dorg.amount}}
         </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}